.scrobble-modal-content-container { 
	display: flex;
	flex-flow: column;
	gap: 0.75em;
}

.scrobble-modal-button-container {
	display: flex;
	justify-content: space-between;
}

/* make input take full width */
.scrobble-modal-input {
	resize: vertical;
	flex: 1;
}

.track-img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 8px;
}

.track-container {
	display: flex;
	gap: 15px;
	margin: 5px 0px;
}

.track-text-container {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 3px
}

.track-title {
	font-size: larger;
}

